Language: c

Compiler:
  -gcc

before install:

  - sudo apt-get update
  
  - sudo apt-get -y install libcunit1 libcunit1-doc libcunit1-dev

install:

  - echo  "Reached Install Section"

script:  

  - echo "Welcome to the Script Section!"
  - gcc main.c -lcunit -o result
  - ./result
  - size result
